{% extends "base.html" %}

{% block content %}

<div class="container">
    <br>
    {% if user.ban == 1 and user.id == current_user.id %}
        <div class="alert alert-warning">
            Вы были забанены за нарушение правил сообщества. <a href="/help/1" class="alert-link">Что будет с моим аккаунтом?</a>
        </div>
    {% endif %}
    {% if user.ban == 1 and current_user.admin > 0 %}
        <div class="alert alert-primary">
            Вы просматриваете этот профиль от имени администратора
        </div>
    {% endif %}
    <div class="row">
        <div class="col ms-3 me-3 mb-3 text-center border rounded"><br>
            <h3>Профиль</h3>
            <ul class="list-group">
                <li class="list-group-item">{{ user.name }}</li>
                <li class="list-group-item">
                    {% if user.ban == 1 %}
                        <span class="badge text-bg-warning">Забанен</span>
                    {% elif user.admin == 0 %}
                        <span class="badge text-bg-secondary">Пользователь</span>
                    {% elif user.admin == 1 %}
                        <span class="badge text-bg-primary">Модератор</span>
                    {% elif user.admin == 2 %}
                        <span class="badge text-bg-danger">Администратор</span>
                    {% endif %}
                </li>
                {% if user.id == current_user.id %}
                    <li class="list-group-item">
                        <a href="{{ url_for('main.profile_settings') }}" class="btn border rounded" style="width: 100%;">Настройки</a>
                        {% if user.ban != 1 %}
                            <hr>
                            <a href="{{ url_for('post.create') }}" class="btn border rounded" style="width: 100%;">Создать пост</a>
                        {% endif %}
                    </li>
                {% endif %}
            </ul>
            ID: {{ user.id }}
        <br></div>
        <div class="col ms-3 me-3 mb-3 border rounded"><p>
            {% if user.ban == 1 and current_user.admin < 1 %}
                <center><strong>Описание недоступно</strong></center>
            {% elif user.admin == 2 and user.ban != 1 %}
                {{ user.description | safe }}
            {% else %}
                {% for line in user.description.split("\n") %}
                    {{ line }}<br>
                {% endfor %}
            {% endif %}
        </p></div>
    </div>
    <br>
    {% if user.ban == 1 and current_user.admin < 1 %}
        <div class="alert alert-warning">
            Аккаунт забанен, публикации недоступны к просмотру.
        </div>
    {% else %}
        <div>
            {% for post in posts %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ post["title"] }}</h5>
                        <p class="card-text text-truncate">{{ post["content"] }}</p>
                        <a href="{{ url_for('post.view', id=post['id']) }}" class="card-link">Читать</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

{% endblock %}