{% extends "base.html" %}

{% block content %}
    <div class="column is-4 is-offset-4">
        <div class="box">
            <br>
            <div class="container">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ messages[0] }}
                        </div>
                    {% endif %}
                {% endwith %}
                <form method="POST">
                    <div class="mb-3">
                        <label class="form-label">Заголовок:</label>
                        <input type="text" class="form-control" name="title" value="{{ title if title else '' }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Содержание:</label>
                        <textarea class="form-control" name="content" rows="20">{{ content if content else '' }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Создать</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}