{% extends "base.html" %}

{% block content %}
    <div class="column is-4 is-offset-4">
        <div class="box">
            <br>
            <div class="container">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-dismissible alert-danger" role="alert">
                            {{ messages[0] }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                {% endwith %}
                <form method="POST" spellcheck="false">
                    <div class="mb-3">
                        <label for="description" class="form-label">Заголовок:</label>
                        <input class="form-control" name="title" value="{{ title if title else post['title'] }}">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Содержание:</label>
                        <textarea class="form-control" name="content" rows="20">{{ content if content else post['content'] }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Применить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}