{% extends "base.html" %}

{% block content %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-3 text-center bg-body rounded shadow-sm" style="padding: 1%;">
                <div class="modal-header mb-3">
                    <h5 class="modal-title">Автор</h5>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="{{ url_for('main.profile') }}/{{ user.id }}" class="text-body">{{ user.name }}</a></li>
                    <li class="list-group-item">
                        {% if user.ban == 1 %}
                            <span class="badge text-bg-warning">Забанен</span>
                        {% elif user.admin == 0 %}
                            <span class="badge text-bg-secondary">Пользователь</span>
                        {% elif user.admin == 1 %}
                            <span class="badge text-bg-primary">Модератор</span>
                        {% elif user.admin == 2 %}
                            <span class="badge text-bg-danger">Администратор</span>
                        {% elif user.admin == 3 %}
                            <span class="badge text-bg-info">Владелец</span>
                        {% endif %}
                    </li>
                </ul>
                <br>
            </div>
            <div class="col ms-2 bg-body rounded shadow-sm" style="padding: 1%;"><p>
                <div class="modal-header mb-3">
                    <h4 class="modal-title text-center">{{ post["title"] }}</h4>
                    {% if post["author_id"] == current_user.id %}
                        <button class="btn" data-bs-toggle="modal" data-bs-target="#editPostModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                        </button>
                    {% endif %}
                </div>
                
                {% for line in post["content"].split("\n") %}
                    {{ line }}<br>
                {% endfor %}
            </p></div>
        </div>
        <div class="row">
            <div class="my-3 p-3 bg-body rounded shadow-sm">
                <h5>Обсуждение</h5>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-dismissible alert-danger" role="alert">
                            {{ messages[0] }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                {% endwith %}
                {% if current_user.ban != 1 and not current_user.is_anonymous %}
                    <form method="POST">
                        <input type="text" required class="form-control" name="content" value="{{ content if content else '' }}" placeholder="Enter для отправки"><br>
                    </form>
                {% endif %}
                <hr>
                {% for comment in comments %}
                    <strong><a class="text-secondary" href="{{ url_for('main.profile_id', id=comment[3])}}">{{ comment[0] }}</a></strong>
                    {% if comment[4] == 1 %}
                        <span class="badge text-bg-warning">Забанен</span>
                    {% elif comment[1] == 0 %}
                        <span class="badge text-bg-secondary">Пользователь</span>
                    {% elif comment[1] == 1 %}
                        <span class="badge text-bg-primary">Модератор</span>
                    {% elif comment[1] == 2 %}
                        <span class="badge text-bg-danger">Администратор</span>
                    {% elif comment[1] == 3 %}
                        <span class="badge text-bg-info">Владелец</span>
                    {% endif %}
                    {{ comment[2] }}
                    <br>
                {% endfor %}
                <hr>
            </div>
        </div>
    </div>

    <!-- Edit post modal -->
    <div class="modal fade" id="editPostModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Изменить описание профиля</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('post.edit', id=post['id']) }}" spellcheck="false">
                        <div class="mb-3">
                            <label for="description" class="form-label">Заголовок:</label>
                            <input class="form-control" name="title" value="{{ post['title'] }}" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Содержание:</label>
                            <textarea class="form-control" name="content" rows="20" autocomplete="off">{{ post['content'] }}</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Применить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}