[data-bs-theme=night] {
    color-scheme: dark;
    --bs-body-color: #e6e6e6;
    --bs-body-color-rgb: #e6e6e6;
    --bs-body-bg: #0f0f16;
    --bs-body-bg-rgb: rgb(15, 15, 22);
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: rgb(255, 255, 255);
    --bs-secondary-color: #4e4e66;
    --bs-secondary-color-rgb: rgb(78, 78, 102);
    --bs-secondary-bg: #353440;
    --bs-secondary-bg-rgb: rgb(53, 52, 64);
    --bs-tertiary-color: rgba(174, 173, 189, 0.5);
    --bs-tertiary-color-rgb: rgba(174, 173, 189);
    --bs-tertiary-bg: #272537;
    --bs-tertiary-bg-rgb: rgb(39, 37, 55);
    --bs-primary-text-emphasis: #5b53c5;
    --bs-secondary-text-emphasis: #747474;
    --bs-success-text-emphasis: #608574;
    --bs-info-text-emphasis: #6190c7;
    --bs-warning-text-emphasis: #c5a43f;
    --bs-danger-text-emphasis: #af5960;
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #dee2e6;
    --bs-primary-bg-subtle: #121327;
    --bs-secondary-bg-subtle: #141414;
    --bs-success-bg-subtle: #051b11;
    --bs-info-bg-subtle: #032830;
    --bs-warning-bg-subtle: #332701;
    --bs-danger-bg-subtle: #2c0b0e;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #24235e;
    --bs-secondary-border-subtle: #41464b;
    --bs-success-border-subtle: #0f5132;
    --bs-info-border-subtle: #087990;
    --bs-warning-border-subtle: #997404;
    --bs-danger-border-subtle: #842029;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-link-color: #1a1822;
    --bs-link-hover-color: #2d2d41;
    --bs-link-color-rgb: rgb(26, 24, 34);
    --bs-link-hover-color-rgb: rgb(45, 45, 65);
    --bs-code-color: #e685b5;
    --bs-border-color: #495057;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-form-valid-color: #75b798;
    --bs-form-valid-border-color: #75b798;
    --bs-form-invalid-color: #ea868f;
    --bs-form-invalid-border-color: #ea868f;
  }