{% extends "base.html" %}

{% block content %}
    <div class="px-4 py-5 my-5 text-center">
        <img src="https://media.tenor.com/VeZkc8XyAAcAAAAd/pog-kurisu.gif" width="10%">
        <h1 class="display-5 fw-bold text-body-emphasis">Connector</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Цели у данного проекта - нет. Это просто небольшой форум, где человек может рассказать/спросить что угодно и как угодно.
                Расскажите о любой ситуации, о которой вы в силе рассказать, или поведуйте о своем личном проекте.
                Каждый активный аккаунт и каждый активный пост - для нас на вес золота.
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                {% if current_user.is_anonymous %}
                    <button type="button" class="btn btn-primary btn-lg px-4 gap-3" data-bs-toggle="modal" data-bs-target="#loginModal">Вход</button></li>
                    <button type="button" class="btn btn-primary btn-lg px-4 gap-3" data-bs-toggle="modal" data-bs-target="#signupModal">Регистрация</button></li>
                {% else %}
                    <a class="btn btn-primary btn-lg px-4 gap-3" href="{{ url_for('post.index') }}">Перейти в список постов</a>
                {% endif %}
            </div>
        </div>
        <br>
    </div>
{% endblock %}